/* for main menu */
.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}


.topnav .icon {
  display: none;
}
.topnav2 a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}
/*for events menu*/
.menu {
	   overflow: hidden;
 
}



